@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #6AB9D9;
    --foreground: #ededed;
  }
}

button {
  cursor: pointer;
  @apply text-white;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.searchbar {
  border: 1px #ffffff;
  background: #2e4d69;
  margin-top: 50px;
}